<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="systemConstantProject.systemConstant.mapper.SystemConstantMapper">
  <resultMap id="BaseResultMap" type="systemConstantProject.systemConstant.pojo.po.SystemConstant">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="constantName" jdbcType="CHAR" property="constantname" />
    <result column="constantValue" jdbcType="CHAR" property="constantvalue" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isDelete" jdbcType="BIT" property="isdelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, constantName, constantValue, createTime, isDelete
  </sql>
  <select id="selectByExample" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from systemconstant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from systemconstant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from systemconstant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstantExample">
    delete from systemconstant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstant">
    insert into systemconstant (id, constantName, constantValue, 
      createTime, isDelete)
    values (#{id,jdbcType=INTEGER}, #{constantname,jdbcType=CHAR}, #{constantvalue,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstant">
    insert into systemconstant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="constantname != null">
        constantName,
      </if>
      <if test="constantvalue != null">
        constantValue,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="constantname != null">
        #{constantname,jdbcType=CHAR},
      </if>
      <if test="constantvalue != null">
        #{constantvalue,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstantExample" resultType="java.lang.Long">
    select count(*) from systemconstant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update systemconstant
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.constantname != null">
        constantName = #{record.constantname,jdbcType=CHAR},
      </if>
      <if test="record.constantvalue != null">
        constantValue = #{record.constantvalue,jdbcType=CHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdelete != null">
        isDelete = #{record.isdelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update systemconstant
    set id = #{record.id,jdbcType=INTEGER},
      constantName = #{record.constantname,jdbcType=CHAR},
      constantValue = #{record.constantvalue,jdbcType=CHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      isDelete = #{record.isdelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstant">
    update systemconstant
    <set>
      <if test="constantname != null">
        constantName = #{constantname,jdbcType=CHAR},
      </if>
      <if test="constantvalue != null">
        constantValue = #{constantvalue,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="systemConstantProject.systemConstant.pojo.po.SystemConstant">
    update systemconstant
    set constantName = #{constantname,jdbcType=CHAR},
      constantValue = #{constantvalue,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      isDelete = #{isdelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getValByName" resultMap="BaseResultMap">
    select
      constantName,
      constantValue
    from
      systemConstant

    where
      isDelete = 0
      and constantName = #{constantName}
  </select>

  <select id="getValsByName" resultMap="BaseResultMap">
    select
      constantName,
      constantValue
    from
      systemConstant

    where
      isDelete = 0
      and constantName in
      <foreach item="constantName" index="index" collection="list" open="(" separator="," close=")">
        #{constantName}
      </foreach>
  </select>
</mapper>